:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 1024px;
  margin: 0 auto;
  background: rgba(174, 216, 239, 0.56);
  overflow: hidden;
}
.rectangle {
  position: absolute;
  width: 481px;
  height: 1131px;
  top: 0;
  left: 959px;
  background: #aed8ef;
  z-index: 9;
  border-radius: 20px;
}
.ellipse {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 148px 0 0 167px;
  background: url(./assets/images/c2d83a7f-f5bf-47f3-980e-db3fe7304c67.png)
    no-repeat center;
  background-size: cover;
  z-index: 10;
  border-radius: 50%;
}
.sofia-name {
  display: block;
  position: relative;
  height: 33px;
  margin: 17px 0 0 160px;
  color: #000000;
  font-family: Jost, var(--default-font-family);
  font-size: 23px;
  font-weight: 500;
  line-height: 33px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.69px;
  z-index: 11;
}
.sofia-handle {
  display: block;
  position: relative;
  height: 33px;
  margin: 0 0 0 167px;
  color: #33a4e4;
  font-family: Jost, var(--default-font-family);
  font-size: 23px;
  font-weight: 400;
  line-height: 33px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.69px;
  z-index: 12;
}
.flex-row-cb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 364px;
  height: 25px;
  margin: 71px 0 0 63px;
  z-index: 16;
}
.total-classes {
  flex-shrink: 0;
  position: relative;
  height: 23px;
  color: #000000;
  font-family: Jost, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  white-space: nowrap;
  z-index: 15;
}
.total-students {
  flex-shrink: 0;
  position: relative;
  height: 23px;
  color: #000000;
  font-family: Jost, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  white-space: nowrap;
  z-index: 16;
}
.flex-row-e {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 311px;
  height: 57px;
  margin: 8px 0 0 90px;
  z-index: 14;
}
.student-count {
  flex-shrink: 0;
  position: relative;
  height: 57px;
  color: #000000;
  font-family: Open Sans, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 54.473px;
  text-align: left;
  white-space: nowrap;
  z-index: 13;
}
.total-marks {
  flex-shrink: 0;
  position: relative;
  height: 57px;
  color: #000000;
  font-family: Open Sans, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 54.473px;
  text-align: left;
  white-space: nowrap;
  z-index: 14;
}
.flex-row-d {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 427px;
  height: 103px;
  margin: 41px 0 0 29px;
  z-index: 19;
}
.rectangle-1 {
  flex-shrink: 0;
  position: relative;
  width: 201px;
  height: 103px;
  font-size: 0px;
  background: #cee9f7;
  z-index: 17;
  border-radius: 10px;
}
.total-exams-conducted {
  display: block;
  position: relative;
  height: 18px;
  margin: 9px 0 0 17px;
  color: #000000;
  font-family: Open Sans, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 17.704px;
  text-align: left;
  white-space: nowrap;
  z-index: 21;
}
.text-8 {
  display: block;
  position: relative;
  height: 33px;
  margin: 16px 0 0 83px;
  color: #000000;
  font-family: Open Sans, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 33px;
  text-align: left;
  white-space: nowrap;
  z-index: 25;
}
.wrapper {
  flex-shrink: 0;
  position: relative;
  width: 201px;
  height: 103px;
  font-size: 0px;
  background: #cee9f7;
  z-index: 19;
  border-radius: 10px;
}
.text-9 {
  display: block;
  position: relative;
  height: 18px;
  margin: 9px 0 0 22px;
  color: #000000;
  font-family: Open Sans, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 17.704px;
  text-align: left;
  white-space: nowrap;
  z-index: 23;
}
.text-a {
  display: block;
  position: relative;
  height: 33px;
  margin: 16px 0 0 85px;
  color: #000000;
  font-family: Open Sans, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 33px;
  text-align: left;
  white-space: nowrap;
  z-index: 27;
}
.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 427px;
  height: 103px;
  margin: 24px 0 0 29px;
  z-index: 20;
}
.wrapper-2 {
  flex-shrink: 0;
  position: relative;
  width: 201px;
  height: 103px;
  font-size: 0px;
  background: #cee9f7;
  z-index: 18;
  border-radius: 10px;
}
.text-b {
  display: block;
  position: relative;
  height: 18px;
  margin: 12px 0 0 18px;
  color: #000000;
  font-family: Open Sans, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 17.704px;
  text-align: left;
  white-space: nowrap;
  z-index: 22;
}
.number-92 {
  display: block;
  position: relative;
  height: 33px;
  margin: 13px 0 0 82px;
  color: #000000;
  font-family: Open Sans, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 33px;
  text-align: left;
  white-space: nowrap;
  z-index: 26;
}
.rectangle-2 {
  flex-shrink: 0;
  position: relative;
  width: 201px;
  height: 103px;
  font-size: 0px;
  background: #cee9f7;
  z-index: 20;
  border-radius: 10px;
}
.total-failure-percentage {
  display: block;
  position: relative;
  height: 18px;
  margin: 12px 0 0 11px;
  color: #000000;
  font-family: Open Sans, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 17.704px;
  text-align: left;
  white-space: nowrap;
  z-index: 24;
}
.number-7 {
  display: block;
  position: relative;
  height: 37px;
  margin: 13px 0 0 90px;
  color: #000000;
  font-family: Open Sans, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 34.045px;
  text-align: left;
  white-space: nowrap;
  z-index: 28;
}
.capture {
  position: absolute;
  width: 97px;
  height: 59px;
  top: 29px;
  left: 47px;
  background: url(./assets/images/2d10304d-e3f2-49b6-97d0-17536bc9fce9.png)
    no-repeat center;
  background-size: cover;
  z-index: 8;
}
.upload-answersheet {
  position: absolute;
  width: 706px;
  height: 82px;
  top: 346px;
  left: 143px;
  cursor: pointer;
  background: rgba(51, 164, 228, 0.98);
  border: none;
  border-radius: 20px;
}
.rectangle-3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 43px;
  top: 17px;
  left: 212px;
  color: #ffffff;
  font-family: Jost, var(--default-font-family);
  font-size: 30px;
  font-weight: 500;
  line-height: 43px;
  text-align: left;
  white-space: nowrap;
  z-index: 4;
}
.rectangle-button {
  position: absolute;
  width: 340px;
  height: 82px;
  top: 453px;
  left: 143px;
  cursor: pointer;
  background: rgba(51, 164, 228, 0.98);
  border: none;
  z-index: 2;
  border-radius: 20px;
}
.upload-answerkey-span {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 43px;
  top: 17px;
  left: 49px;
  color: #ffffff;
  font-family: Jost, var(--default-font-family);
  font-size: 30px;
  font-weight: 500;
  line-height: 43px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.rectangle-button-4 {
  position: absolute;
  width: 340px;
  height: 82px;
  top: 453px;
  left: 507px;
  cursor: pointer;
  background: transparent;
  border: 3px solid #37a6e4;
  z-index: 3;
  border-radius: 20px;
}
.select-answerkey-span {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 43px;
  top: 15px;
  left: 52px;
  color: rgba(51, 164, 228, 0.98);
  font-family: Jost, var(--default-font-family);
  font-size: 30px;
  font-weight: 500;
  line-height: 43px;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
}
.rectangle-button-5 {
  position: absolute;
  width: 706px;
  height: 82px;
  top: 600px;
  left: 143px;
  cursor: pointer;
  background: rgba(35, 226, 134, 0.98);
  border: none;
  z-index: 1;
  border-radius: 20px;
}
.generate-results-button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 43px;
  top: 17px;
  left: 239px;
  color: #ffffff;
  font-family: Jost, var(--default-font-family);
  font-size: 30px;
  font-weight: 500;
  line-height: 43px;
  text-align: left;
  white-space: nowrap;
  z-index: 5;
}
